@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: lato;
    src: url(./Lato/lato.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(241, 237, 237);
}

.hero {
    display: flex;
}

.sideBar {
    background: #ffffff;
    width: 15%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 3px;

}

.sideBar-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sideBar-head h1 {
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.head-img {
    width: 43.38px;
    height: 45px;
    padding: 12px 10px 12px 10px;
    gap: 10px;
    border-radius: 12px;
    opacity: 0px;
    background-color: rgba(104, 85, 227, 1);
    box-shadow: 0px 0px 21.4px 14px rgba(104, 85, 227, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBar-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 188px;
    height: 511px;
    padding: 20px 0px 0px 10px;
    gap: 15px;
    opacity: 0px;
}

.dashboard {
    width: 170px;
    height: 15px;
    padding: 13px 9px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;

    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.dashboard:hover {
    background: rgba(96, 91, 255, 1);
    color: white;

}

.dashboard img {
    width: 24px;
    height: 24px;
    background-color: 2px solid rgba(176, 176, 176, 1);

}

.dashboard a {
    font-family: lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color:
        rgba(176, 176, 176, 1);

}

.side-footer {
    width: 188px;
    display: flex;
    gap: 35px;
    align-items: center;
    margin-top: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-text h3 {
    font-family: lato;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.footer-text p {
    font-family: lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

@media screen and (max-width:1024px) {


    .sideBar {

        width: 230px;
        height: 100%;
        position: fixed;
    }

    .sideBar-head h1 {
        display: none;
    }

    .head-img {
        width: 48px;

    }

    .sideBar-list {
        width: auto;
        height: 100%;
        gap: 15px;

    }
}

@media screen and (max-width:920px) {


    .sideBar {

        width: 150px;
        height: 100%;
        position: fixed;
    }

    .sideBar-head h1 {
        display: none;
    }

    .head-img {
        width: 50px;

    }

    .sideBar-list {
        width: auto;
        height: 100%;


    }

    .dashboard {
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .dashboard a {
        display: none;
    }

    .side-footer {
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
    }

    .footer-text {
        display: none;
    }

    .upload {
        display: none;
    }


}

@media screen and (max-width:515px) {
    .sideBar {
        align-items: center;
        width: 70px;
        height: 100%;
        position: fixed;
    }

    .sideBar-head h1 {
        display: none;
    }

    .head-img {
        width: 40px;
        height: 40px;

    }

    .sideBar-list {
        width: auto;
        height: 100%;
        align-items: center;

        padding: 20px 0px 0px 15px;

    }

    .dashboard {
        align-items: center;
        justify-content: center;
        width: 40px;


    }

    .dashboard a {
        display: none;
    }

    .side-footer {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer-text {
        display: none;
    }

    .upload {
        display: none;
    }

}




.navbar {
    width: 85%;

    height: 8vh;
    padding: 0px 32px 0px 32px;
    background: rgb(251, 249, 249);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 225px;

}

@media screen and (max-width:1024px) {
    .navbar {
        width: auto;
        height: auto;
        padding: 0 15px 0 15px;
    }
}

@media screen and (max-width:920px) {
    .navbar {
        width: 100%;
        height: auto;
        padding: 0 15px 0 15px;
        margin-left: 150px;
    }
}

@media screen and (max-width:520px) {
    .navbar {
        width: 100%;
        height: auto;
        padding: 0 15px 0 15px;
        margin-left: 60px;
    }
}

@media screen and (max-width:390px) {
    .navbar {
        width: 100%;
        height: auto;
        padding: 0 15px 0 15px;
        margin-left: 65px;

    }
}

@media screen and (max-width:360px) {
    .navbar {
        width: 120%;
        height: auto;
        padding: 0 15px 0 15px;
        margin-left: 65px;

    }
}

/* here we setting dashboard set */
.dashboard-set {
    display: grid;
    grid-template-columns: auto;
    margin-top: 15px;
    margin-left: 250px;
}

@media screen and (max-width:980px) {
    .dashboard-set {
        margin-left: 220px;
    }

}

@media screen and (max-width:508px) {
    .dashboard-set {
        margin-left: 100px;
    }

}

@media screen and (max-width:400px) {
    .dashboard-set {
        margin-left:90px;
    }

}



.navbar h1 {
    font-family: lato;
    font-size: 26px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 16px;
    align-content: center;
   height: auto;
   align-items: stretch;


}


.overView {

    height: auto;
    padding: 12px 16px 12px 16px;
    gap: 24px;
    border-radius: 20px 12px 12px 12px;
    opacity: 0px;
    background-color: #ffffff;


}

.over-head {

    display: flex;
    justify-content: space-between;

}

.over-head h1 {
    font-family: lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.over-head button {
    width: 86.73px;
    height: 31.2px;
    padding: 8.1px 10px 8.1px 10px;
    gap: 8px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-family: lato;
    font-size: 10.12px;
    font-weight: 400;
    line-height: 15.18px;
    letter-spacing: 0.0168em;
    text-align: left;
    color:
        rgba(96, 91, 255, 1);
    cursor: pointer;
}

/* here we setting the cards */
.card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    margin-top: 28px;

}

.sales {

    height: 251.04px;
    gap: 32px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(211, 152, 231, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.sale-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.sale-info h1 {
    font-family: lato;
    font-size: 28px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.sale-info h2 {
    font-family: lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.sale-info p {
    font-family: lato;
    font-size: 8px;
    font-weight: 500;
    line-height: 10.67px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.revenue {

    height: 251.04px;
    gap: 32px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(232, 146, 113, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.clients {

    height: 251.04px;
    gap: 32px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(112, 161, 229, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.active {

    height: 251.04px;
    gap: 32px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(240, 194, 116, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


/* here we setting the shedular */
.schedular {
    width: 498px;
    height: 350.24px;
    padding: 15px 16px 30px 16px;
    gap: 24px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #ffffff;
    margin-top: 15px;
}

.schedular button {
    width: 55px;
    height: 31.2px;
    padding: 8.1px 10px 8.1px 10px;
    gap: 8px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-family: lato;
    font-size: 10.12px;
    font-weight: 400;
    line-height: 15.18px;
    letter-spacing: 0.0168em;
    text-align: left;
    color:
        rgba(96, 91, 255, 1);
    cursor: pointer;
}

.table {
    width: 100%;
    height: auto;
}

.table tr td {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-self: center;

}

.table tr {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    text-align: center;
}

.first-row {
    font-family: lato;
    font-size: 10.5px;
    font-weight: 600;
    line-height: 12.6px;
    text-align: center;
    color: rgba(123, 130, 126, 1);
    display: flex;
    justify-content: space-between;
    width: auto;


}

.sec-row {
    font-family: lato;
    font-size: 10.5px;
    font-weight: 600;
    line-height: 12.6px;
    display: flex;
    align-items: center;
    color:
        rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;

}


.row1 {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;



}

.row1 td {

    gap: px;
    width: 120px;

}

.row1 th {
    color:
        rgba(117, 117, 117, 1);
    width: 120px;
}

.tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    font-family: lato;
}

.calender {
    width: 100%;
    /* background-color: #4348E1; */
}

@media screen and (max-width:1024px) {
    .container {
        grid-template-columns: auto;
    }

    .overView {

        height: auto;
    }

    .schedular {

        height: auto;
    }

    .card {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

}

@media screen and (max-width:680px) {

    .container {

        grid-template-columns: auto;
    }

    .card {
        grid-template-columns: auto auto;
        row-gap: 15px;
        column-gap: 1px;
        align-items: center;
        width: auto;
    }
}

@media screen and (max-width:570px) {

    .container {

        grid-template-columns: auto;
    }

    .schedular {
        width: auto;
        height: auto;
    }

    .card {
        grid-template-columns: auto;
    }
}

@media screen and (max-width:438px) {
    .container {

        grid-template-columns: auto;
        align-items: center;

    }

    

    .schedular {

        overflow: auto;


    }

    .card {
        grid-template-columns: auto;
        gap: 5px;
    }

    .sales,
    .active,
    .revenue,
    .clients {
        width: auto;
    }


}

@media screen and (max-width:400px) {

    .container {

        grid-template-columns: auto;
        align-items: center;

    }

    
.overView{
    width: 80%;
}
    .schedular {
width: 80%;
        overflow: auto;


    }

    .card {
        grid-template-columns: auto;
        gap: 5px;
    }

    .sales,
    .active,
    .revenue,
    .clients {
        width: auto;
    }

}





/* here we setting the container1 */
.container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 15px;
    height: auto;

}

.group {
    height: 85%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:10px;
}

.booking {

    height: 250px;
    padding: 12px 25px 5px 16px;
    gap: 15px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #ffffff;
}



.clock-img {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5px;
}

.clock-img img {
    width: 14px;
    height: 14px;
}

.clock-img span {
    display: flex;
    position: absolute;
    margin-left: 15px;
}


.hold {
    width: 60px;
    height: 24px;
    padding: 0px 12px 0px 12px;
    gap: 6px;
    border-radius: 999px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(253, 217, 218, 1);
    color: rgba(211, 47, 47, 1);
    font-family: lato;
    font-size: 11px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hold1 {
    width: 68px;
    height: 24px;
    padding: 0px 15px 0px 15px;
    gap: 6px;
    border-radius: 999px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgb(232, 232, 232);
    color: rgb(9, 6, 6);
    font-family: lato;
    font-size: 11px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hold p {
    font-size: 50px;
    margin-top: -35px;
}

.hold1 p {
    font-size: 50px;
    margin-top: -35px;
    color: black;
}

.hold2 {
    width: 68px;
    height: 24px;
    padding: 0px 15px 0px 15px;
    gap: 6px;
    border-radius: 999px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgb(232, 232, 232);
    color: rgb(29, 186, 100);
    font-family: lato;
    font-size: 11px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hold2 p {
    font-size: 50px;
    margin-top: -35px;
}

/* jj;l; */


.Expenditure {


    padding: 12px 16px 2px 16px;

    border-radius: 12px;
    opacity: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}

.earning-head {
    padding: 0px 15px 0 0;


    display: flex;
    justify-content: space-between;
    font-family: lato;
}

.earning-head h1 {
    font-family: lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(33, 33, 33, 1);

}

.set-button button {
    width: 46px;
    height: 23px;
    padding: 3.35px 4.59px 7.35px 4.59px;
    border-radius: 2.76px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(96, 91, 255, 0.1);
    border: 1px rgba(96, 91, 255, 0.1);
    font-family: lato;
    font-size: 9.19px;
    font-weight: 400;
    line-height: 13.78px;
    letter-spacing: 0.0168em;
    text-align: left;
    color: rgba(96, 91, 255, 1);

}


.set-button h3 {
    font-family: lato;
    font-size: 9.19px;
    font-weight: 400;
    line-height: 13.78px;
    letter-spacing: 0.0168em;
    text-align: left;

}

.graphics {
    display: flex;
    margin-top: 40px;
}

.graphics p {
    font-family: lato;
    font-size: 9.98px;
    font-weight: 400;
    line-height: 10.89px;
    text-align: left;
    color:
        rgba(175, 175, 255, 1);
}

.line-y {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.x-text {

    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: -20px;

}





@media screen and (max-width:1024px) {

    .container1 {
        grid-template-columns: auto;
    }
    .group{
        height: auto;
    }
    .Expenditure {
        overflow: auto;
    }
}

@media screen and (max-width:990px) {
    .container1 {
        grid-template-columns: auto;
    }
    .group{
        height: auto;
    }
}

@media screen and (max-width:960px) {
    .container1 {
        grid-template-columns: auto;
        gap: 16px;
    }
    .group{
        height: auto;
    }

    .Expenditure {
        overflow-x: auto;
    }
    .group{
        height: auto;
    }

   



}


@media screen and (max-width:895px) {
    .container1 {
        grid-template-columns: auto;
       
    }


    .Expenditure {
        overflow: auto;
    }
}

@media screen and (max-width:860px) {
    .container1 {
        grid-template-columns: auto;
       
    }

    .Expenditure {
        overflow: auto;
    }
}

@media screen and (max-width:810px) {
    .container1 {
        grid-template-columns: auto;
    }
    .booking{
        overflow: auto;
    }

    .Expenditure {
        overflow: auto;
    }


}

@media screen and (max-width:790px) {
    .container1 {
        grid-template-columns: auto;
    }

    .booking {

      overflow: auto;
    }

   

    .Expenditure {
      overflow: auto;
    }

  

    
}

@media screen and (max-width:770px) {
    .container1 {
        grid-template-columns: auto;
    }

    .booking {

       overflow: auto;
    }
    

    .Expenditure {
       overflow: auto;
    }

   

    

    .graphics img {
        width: 100%;
    }

    .graphics p {
        width: 100%;
        height: 100%;
    }

    .line-y p {
        gap: 2px;
    }

    .line-x {
        margin-top: 20px;
    }

    .x-text {
        gap: 30px;
    }
}

@media screen and (max-width:755px) {
    .container1 {
        grid-template-columns: auto;
    }

    .booking {

      overflow: auto;
    }


    .Expenditure {
        overflow: auto;
    }

}

@media screen and (max-width:730px) {
    .container1 {
        grid-template-columns: auto;
    }

    .booking {
overflow: auto;
    }
    .Expenditure {
       overflow: auto;
    }

   }

@media screen and (max-width:680px) {
    .container1 {
        grid-template-columns: auto;
    }

    .booking {

       overflow: auto;
    }

    .Expenditure {
        overflow: auto;
    }
}

@media screen and (max-width:660px) {
    .container1 {
        grid-template-columns: auto;
    }

    .booking {

       overflow: auto;
    }

    
    .Expenditure {
      overflow: auto;
    }

}

@media screen and (max-width:640px) {
    .container1 {
        grid-template-columns: auto;
    }

    .booking {
       overflow: auto;
    }


    .Expenditure {
       overflow: auto;
    }
    .line-y{
        gap: 2px;
    }
}
@media screen and (max-width:400px) {
    .container1 {
        grid-template-columns: auto;
        margin-left: px;
    }

    .booking {
        width: 80%;
       overflow: auto;
    }


    .Expenditure {
        width: 80%;
       overflow: auto;
    }
    .line-y{
        gap: 2px;
    }
}


/* here we setting the expenditure */





/* dfgsdfsdf */
.group1 {

  
    height: 85%;
    gap: 15px;
    opacity: 0px;
   display: grid;
   grid-template-columns: auto;
}

.expences {
    width: 365px;
  height: 300px;
    padding: 25px 16px 12px 16px;
    gap: 24px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expence-head {
    display: flex;
    justify-content: space-between;
}

.expence-head h1 {
    font-family: lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.expence-head button {
    width: 75.73px;
    height: 31.2px;
    padding: 8.1px 10px 8.1px 10px;
    gap: 8px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-family: lato;
    font-size: 10.12px;
    font-weight: 400;
    line-height: 15.18px;
    letter-spacing: 0.0168em;
    text-align: left;
    color:
        rgba(96, 91, 255, 1);
    cursor: pointer;
}

.expence-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 5px 0;
}

.contect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.expence-text {
    font-family: leto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.ss {
    width: 9px;
    height: 9px;
    top: 8px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(177.61deg, #18E1A3 2%, #08C792 130.22%);
    border-radius: 50%;

}

.ll {
    width: 9px;
    height: 9px;
    top: 8px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #21D5E2 0%, #4348E1 100%);

    border-radius: 50%;
}

.kk {
    width: 9px;
    height: 9px;
    top: 8px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #FFC74E 0%, #FF7F06 100%);

    border-radius: 50%;
}

.bank {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: lato;
}

.bank span {
    font-size: 10px;
    font-weight: 400;
}

/* here we setting the earning */

.earning-card {
    width: 365px;
    height: 215px;
    padding: 12px 16px 12px 16px;
    gap: 24px;
    border-radius: 12px;
    opacity: 0px;
    background-color:
        rgba(104, 85, 227, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.totalEarning {
    display: flex;
    gap: 22px;
    align-items: center;
    flex-direction: column;
}

.totalEarning h1 {
    font-family: lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0168em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.earn-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.earn-info h2 {
    font-family: lato;
    font-size: 39.9px;
    font-weight: 600;
    line-height: 59.84px;
    letter-spacing: 0.0168em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    flex-wrap: wrap;
}

.earn-info p {
    width: 325.83px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 19.17px;
    font-weight: 400;
    line-height: 28.76px;
    letter-spacing: 0.0168em;
    text-align: center;
    color:
        rgba(212, 212, 255, 1);
    flex-wrap: wrap;
}

@media screen and (max-width:1024px) {
    .container1 {
        flex-direction: column;
    }

    .group1 {
        height: auto;
        
    }
}
@media screen and (max-width:860px) {
    

    .group1 {
        grid-template-columns: repeat(2,1fr);
        height: auto;
        
    }
}
@media screen and (max-width:800px) {
    .group1 {
        grid-template-columns: auto;
        width: auto;
      height: auto;
    }
}


@media screen and (max-width:777px) {
    .group1 {
        grid-template-columns: auto;
        width: auto;
      height: auto;
    }
}

@media screen and (max-width:616px) {
    .group1 {
       
        width: auto;
       
    }

   
}

@media screen and (max-width:444px) {
    .group1 {
       grid-template-columns: auto;
        width: auto;

    }
}

@media screen and (max-width:400px) {
    .group1 {
        grid-template-columns: auto;
        width: auto;
    }

    .expences {
      width: auto;
      overflow-y: auto;
    }
    .earning-card{
        width: 80%;
        flex-wrap: wrap;
    }
    .earn-info p {
        font-size: 10px;
    }
}
@media screen and (max-width:360px) {
    .group1 {
        grid-template-columns: auto;
        width: auto;
        margin-left: 10px;
    }

    .expences {
      width: 70%;
    }
    .earning-card{
        width: 70%;
    }
}